img {
	width:200;
	border:2px solid Blue;
}
head {
	
}
title {
	
}
body {
	background-color: lightYellow;
	font-family: Clibary;
}
h1 {
	font-family: Clibary;
}
div{
	
}
span{
	
}
a {
 color: Blue;
}
