img {
	width:200;
/*	border:1px solid Blue; */
}
head {
	
}
title {
	
}
body {
	background-color: lightYellow;
	font-family: Clibary;
}
h1 {
	font-family: Clibary;
}
div{
	
}
span{
	
}
a {
 color: Blue;
}
 h2 {
        margin-bottom: 5px; /* Adjust the space below the<h2>*/
    }

.section {
        margin-top: 0; /* Optional: Reduce space above the div content */
        padding-top: 0; /* Optional: Reduce inner spacing if necessary */
    }
	
h3 {
    margin-bottom: 5px; /* Reduces the space below the <h3> */
}

a {
    margin-top: 0; /* Ensures no extra space above the link */
}
