img {
	width:200;
	border:2px solid Blue;
}
head {
	
}
title {
	
}
body {
	background-color: lightyellow;
	font-family: Clibary;
}
h1 {
	font-family: Clibary;
}
div{
	
}
span{
	
}
a {
 color: blue;
}
